<h1>About The Developer</h1>
<p>Below you'll find a plethora of information about me, Justin, the developer of this application!</p>

<br/><br/>

<p>
    <strong>Academics</strong>
    <br/>
    I have been interested in programming since I was little, but my first time truly delving into it properly was not until I was in the 10th grade and taking an introductory programming class. From there, I have spent a large amount of time both in and out of class learning new concepts and tools.
    <br/>
    I have taken programming classes for most of my four years at high school, and I am now in my fifth semester of the Computer Programming & Analysis program at Seneca College.

    <br/><br/>
    <strong>Development Interests</strong>
    <br/>
    I'm still not entirely sure what particular area of development that I'm most interested in focusing on for a long-term career, however there are a couple areas in particular which have drawn my attention throughout my college experience.
    <br/>
    First, I've got a big interest in mobile development, and have greatly enjoyed my cross-platform mobile development class which I have taken in my fifth college semester. In addition to that, I've found both the front and back end aspects of web development particularly interesting and enjoyable, and I've thoroughly enjoyed all of the WEB classes that I've taken throughout college thus far.

</p>